.Add-todo-root {
  align-items: center;
  background-color: #ffffff;
  border-bottom: 0.5px solid #ccc;
  display: flex;
  padding-left: 36px;
}

.Add-todo-plus-icon {
  height: 24px;
  margin: 24px 0px;
}

.Add-todo-input {
  border: none;
  font-size: 1em;
  margin: 0px 16px;
}
