.Todo-item-root {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  padding: 24px 36px;
}

.Todo-item-root-done {
  background-color: #f8f8f8;
}

.Todo-item-tick {
  cursor: pointer;
  height: 24px;
}

.Todo-text-form {
  flex: 1;
}

.Todo-text {
  background-color: inherit;
  border: none;
  font-size: 1em;
  margin: 0px 16px;
  width: 100%;
}

.Todo-item-delete-icon {
  cursor: pointer;
  height: 16px;
}
