.Todo-item-root {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  padding: 24px 36px;
  transition: transform 0.5s;
}

.Todo-item-root.gu-transit {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.Todo-item-root-done {
  background-color: #f8f8f8;
}

.Todo-item-tick {
  cursor: pointer;
  height: 24px;
}

.Todo-text-form {
  flex: 1;
}

.Todo-text {
  background-color: inherit;
  border: none;
  font-size: 1em;
  margin: 0px 16px;
  width: 100%;
}

.Todo-item-delete-icon {
  cursor: pointer;
  height: 16px;
}

.Todo-item-loading {
  height: 16px;
}
